<% unless file.relative_parent_path? %>
<tr role="row" tabindex="-1" data-ev-location="<%= file.location %>" data-tt-id="<%=path%>" data-tt-parent-id="<%=parent%>" data-tt-branch="<%=file.container? ? 'true' : 'false'%>">
  <td role="gridcell" class="<%=file.container? ? 'ev-container' : 'ev-file'%> ev-file-name">
      <%= link_to browse_everything_engine.contents_path(provider_name,file.id), {:class=>'ev-link'} do %>
        <span class="<%=file.container? ? 'folder' : 'file'%>" aria-hidden="true"/>
        <%= file.name %>
        <span class="sr-only"><%= file.container? ? ', folder' : ', file' %> </span>
      <% end %>
  </td>
  <td role="gridcell" class="ev-file-size">
    <%= number_to_human_size(file.size).sub(/Bytes/,'bytes') %>
  </td>
  <td role="gridcell" class="ev-file-kind">
    <%= file.type %>
  </td>
  <td role="gridcell" class="ev-file-date">
    <%= file.mtime.strftime('%F %R') %>
  </td>
</tr>
<% end %>
