<div class="modal-header"></div>
<div class="modal-body ev-body">
  <div class="ev-browser row-fluid">
    <div class="span2 ev-providers nav nav-list well">
      <%= render :partial => 'providers' %>
    </div>
    <div class="span10 ev-files list">
      <%= render :partial => 'files' %>
    </div>
  </div>
</div>
<div class="modal-footer">
  <span class="pull-left ev-status">0 files selected</span>
  <%= form_tag browse_everything_file_handler_path, :method => "POST", :class => "ev-submit-form form-horizontal" do %>
    <button class="ev-cancel btn btn-danger"><%= t('browse_everything.modal_form.cancel')%></button>
    <button type="submit" class="btn btn-primary"><%= t('browse_everything.modal_form.submit')%></button>
  <% end %>
</div>