<% if bootstrap_three? %><div class="modal-content"><% end %>
  <div class="modal-header"></div>
  <div class="modal-body ev-body">
    <div class="ev-browser row<%=bs2('-fluid')%>">
      <div class="<%=bs2or3('span','col-xs-')%>2 ev-providers nav nav-list">
        <%= render :partial => 'providers' %>
      </div>
      <div class="<%=bs2or3('span','col-xs-')%>10 ev-files list">
        <%= render :partial => 'files' %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <span class="pull-left ev-status">0 files selected</span>
    <%= form_tag '#', :class => "ev-submit-form form-horizontal", :data => { :resolver => browse_everything_engine.resolver_path } do %>
      <input type="hidden" name="context" value=""/>
      <button class="ev-cancel btn btn-danger"><%= t('browse_everything.modal_form.cancel')%></button>
      <button class="ev-submit btn btn-primary" data-loading-text="Loading..."><%= t('browse_everything.modal_form.submit')%></button>
    <% end %>
  </div>
<% if bootstrap_three? %></div><% end %>
